body {
    background-color: #2a2a2a;
    color: grey;
    font-family: Arial, sans-serif;
    margin: 1%;
}

input {
    background-color: #2a2a2a;
    color: inherit;
    border: 2px solid #3f3f3f;
}

input:hover {
    background-color: #3f3f3f;
    color: whitesmoke;
}

#submit {
    display: none;
}

#colourpicker:focus {
    background-color: #3f3f3f;
    color: whitesmoke;
}

a:link, a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

a:active {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}

caption {
    font-size: medium;
    margin-bottom: 15px;
}

red {
    color: #ff0000
}

green {
    color: #00ff00
}

blue {
    color: #0000ff
}

custom {
    color: var(--custom-colour);
}

#colours-platform {
    width: 90%;
    margin: 5% auto;
    background-color: #303030;
    border: 2px solid #3f3f3f;
    box-shadow: 10px 10px 10px #202020;
}

#colours-header {
    margin: 1% 5% 1% 5%;
    text-align: center;
}

#colours-main {
    width: 100%;
    margin: auto;
    text-align: center;
}

#colours-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

#colours-selector {
    width: 100%;
    margin: auto;
    text-align: center;
}

#colour-cell-red {
    background-color: #cc0000;
    grid-column: 1;
    grid-row: 1;
}

#colour-cell-red :hover {
    background-color: #ff0000;
}

#colour-cell-green {
    background-color: #00cc00;
    grid-column: 2;
    grid-row: 1;
}

#colour-cell-green :hover {
    background-color: #00ff00;
}

#colour-cell-blue {
    background-color: #0000cc;
    grid-column: 3;
    grid-row: 1;
}

#colour-cell-blue :hover {
    background-color: #0000ff;
}

.colour-cell a {
    display: block;
    width: 100%;
    height: 240px;
}

#text-cell-red {
    grid-column: 1;
    grid-row: 2;
}

#text-cell-green {
    grid-column: 2;
    grid-row: 2;
}

#text-cell-blue {
    grid-column: 3;
    grid-row: 2;
}

.text-cell :hover {
    background-color: #3f3f3f;
}

.text-cell a {
    display: block;
}

.text-cell a:active {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}

#selected-colour-red {
    background-color: #ff0000;
    grid-column: 2;
    grid-row: 1;
}

#selected-colour-green {
    background-color: #00ff00;
    grid-column: 2;
    grid-row: 1;
}

#selected-colour-blue {
    background-color: #0000ff;
    grid-column: 2;
    grid-row: 1;
}

#selected-colour-custom {
    background-color: var(--custom-colour);
    grid-column: 2;
    grid-row: 1;
}

#go-back {
    grid-column: 2;
    grid-row: 2;
}

#colours-footer {
    margin-top: 5%;
    padding-right: 15px;
    background-color: #444444;
    text-align: right;
    font-weight: bold;
}
