body {
    background-color: #2d2d2d;
    color: grey;
    font-family: Arial, sans-serif;
}

a:link, a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

a:active {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}

caption {
    font-size: medium;
    margin-bottom: 15px;
}

red {
    color: #ff0000
}

green {
    color: #00ff00
}

blue {
    color: #0000ff
}

#colours-platform {
    width: 90%;
    margin: 5% auto;
    background-color: #303030;
    border: 2px solid #3f3f3f;
    box-shadow: 10px 10px 10px #202020;
}

#colours-header {
    margin: 1% 5% 1% 5%;
    text-align: center;
}

#colours-main {
    width: 100%;
    margin: auto;
}

#colours-table {
    width: 90%;
    border-spacing: 5px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    max-width: 960px;
}

#colour-row td {
    width: 320px;
    overflow: hidden;
}

#colour-row-red :hover {
    background-color: #ff0000;
}


#colour-row-green :hover {
    background-color: #00ff00;
}


#colour-row-blue :hover {
    background-color: #0000ff;
}

#colour-row td a {
    display: block;
    height: 240px;
}

#text-row td a {
    display: block;
    width: 100%;
    height: 100%;
}

#text-row td:hover {
    background-color: #3f3f3f;
}

#goBack {
    text-align: center;
}

#colours-footer {
    margin-top: 5%;
    padding-right: 15px;
    background-color: #444444;
    text-align: right;
    font-weight: bold;
}